@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
::-moz-selection {
  background: rgba(255, 41, 41, 0.85);
}
::selection {
  background: rgba(255, 41, 41, 0.85);
}
.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15));
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0px 20px;
  height: 65px;
  width: 100%;
  max-width: 100vw;
  margin: 0px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 55;
}
.navbar ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar li {
  margin: 0 17px;
}
.navbar li a{
  transition: 0.3s ease;
}
.navbar ul li a:hover{
  color: rgb(255, 0, 0);
  font-size: 19px;
}
.small-navbar ul li a:hover{
  color: white;
}
.navbar a {
  text-decoration: none;
  color: #000000;
  font-weight: 750;
  font-size: 18px;
  font-family: Inter;
  padding: 5px 0px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#small-navbar{
  display: none;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.logo:hover{
  transform: scale(1.05);
}
.logo img {
  height: 110px;
  width: auto;
}
.menu-icon{
  display: none;
}
#portfolio{
  padding-top: 0px;
}
.cards {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 .cards::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: linear-gradient(to bottom, rgba(65, 65, 65, 0.3), rgba(65, 65, 65, 0.15)); */
  z-index: 5;
}
.agriculture .card-content, .akce .card-content{
  width: 100%;
  height: 50vh;
  color: white;
  font-family: Inter;
  font-weight: 650;
  font-size: 25px;
  z-index: 10;
  pointer-events: auto;
  padding: 150px 0px 0px 149px;
}
.automotive .card-content{
  width: 100%;
  height: 50vh;
  color: white;
  font-family: Inter;
  font-weight: 650;
  font-size: 25px;
  z-index: 10;
  pointer-events: auto;
  padding: 149px 150px 0px 0px;
  text-align: right;
}
.card-content h1{
  padding-bottom: 14px;
  z-index: 50;
}
.card-content a{
  position: relative;
  z-index: 20;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 7px 14px;
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}
.card-content a:hover{
  background: white;
  color: black;
}
.first{
  background-image: url('./data/img/bg-main.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.agriculture, .automotive, .akce{
  height: 46.6vh;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  width: 100%;
}
.agriculture{
  background-image: url('./data/img/agriculture.jpg');
  background-position: center 60%;
  z-index: 10;
}
.automotive {
  background-image: url('./data/img/automotive.jpg');
  background-position: center 55%;
  z-index: 10;
}
.akce {
  background-image: url('./data/img/akce.jpg');
  background-position: center 55%;
  z-index: 10;
}
.bottom-bar {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 30px 0;
}
.bottom-bar .social-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin: 0 15px;
}
.bottom-bar .social-links i {
  width: 24px;
  height: 24px;
  transform: scale(1.50);
  vertical-align: middle;
  transition: 0.3s ease;
}
.bottom-bar .social-links i:hover{
  transform: scale(1.7);
  color: red;
}
.bottom-bar .copyright {
  margin-top: 20px;
  font-size: 15px;
  font-family: Inter;
  font-weight: 520;
}


@media (min-width: 676px){
  small-navbar{
    display: none;
  }
}
@media (max-width: 675px) {
  .nav-a-responsive{
    display: none;
  }
  .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 !important;
    text-align: center !;
  }
  .navbar{
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .navbar ul{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .logo{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
  }
  .logo img{
    max-height: 110px;
  }
  .logo:hover{
    transform: translateY(-50%);
  }
    .menu-icon {
    display: block;
    font-size: 55px;
    cursor: pointer;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .small-navbar {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 41, 41, 0.85);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    /* display: none; */
    z-index: 1;
    text-align: center;
  }
  .small-navbar.fade-in{
    opacity: 1;
    display: block;
  }
  a#openNavbar {
    display: block;
    color: black;
    text-decoration: none;
    z-index: 1;
  }
  a#closeNavbar{
    font-size: 30px;
  }
  .small-navbar ul li a{
    font-family: Inter;
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 17px;
  }
  #activepage{
    font-size: 50px;
    color: white;
  }
  .small-navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .small-navbar ul li{
    margin-bottom: 10px;
  }
  #closeNavbar{
    text-decoration: none;
    color: white;
  }
}
.underconstruction{
  background-color: white;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
}
.underconstruction i{
  font-size: 100px;
}
.underconstruction h1{
  font-family: Inter;
  font-size: 100px;
}
.header {
  text-align: center;
  padding-top: 80px;
  font-family: Inter;
  font-size: 25px;
}
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(387px, 1fr));
  gap: 10px;
  max-width: 1600px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.photo-grid img {
  width: 100%;
  height: auto;
  display: block;
}